{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<div class="home container align-self-center d-flex justify-content-center">
    <a href="{% url "quoteList" %}" class="botao-home m-4 d-flex justify-content-center rounded ">
        <div class="align-self-center">Quote List Generator</div>
    </a>
    
    <a href="{% url "logs" %}" class="botao-home m-4 d-flex justify-content-center rounded ">
        <div class="align-self-center">Logs</div>
    </a>
</div>
{% endblock %}