{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<div class="quoteList container align-self-center">
    <div class="d-flex">
        <a href="{% url "csv_generate" %}" class="botao m-4 d-flex justify-content-center rounded"><div class="align-self-center">Generate no filter CSV</div></a>
        <a href="{% url "json_generate" %}" class="botao m-4 d-flex justify-content-center rounded "><div class="align-self-center">Generate no filter JSON</div></a>
        <a href="{% url "home" %}" class="botao m-4 d-flex justify-content-center rounded "><div class="align-self-center">Home</div></a>
    </div>
    <i class="fa fa-search"><input class="rounded p-2 m-3 pesquisa" type="text" id="txtBusca" placeholder="Nome da integração..." /></i>
    <ul id="ulItens" class="listQuotes mb-4">
        <div class="row border border-2 rounded head-grid">
            <div class="col">Quote</div>
            <div class="col">Author</div>
            <div class="col">Tags</div>
            <div class="col">Link</div>
        </div>
        {% for quote in quotes %}
        <li>
            <div class="row">
                <div class="col quote-col border border-2 rounded">{{quote.Quotes}}</div>
                <div class="col border border-2 rounded">{{quote.Author}}</div>
                <div class="col border border-2 rounded">{{quote.Tags}}</div>
                <div class="col border border-2 rounded">{{quote.Link}}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}