.base-body {
    padding-top: 60px;
    min-height: 100vh;
}

.cabecalho{
    background-color: #452d55;
    height: 60px;
    width: 100%;
    position: fixed;
}

.rodape{
    background-color: #452d55;
    left: 0;
    bottom: 0;
    width: 100%;
    color: 0fd1bf;
    text-align: center;
}

a{
    text-decoration: none;
    transition: 1s;
}

a:link{
    color: #0fd1bf;
}

a:visited{
    color: #0fd1bf;
}

a:hover{
    color: white;
}

.home{
    width: 100vw;
    height: 100vh;
}

.tab-home{
    margin: auto;
}

.col-home{
    width: 25%;
    max-width: 25%;
    min-height: 50%;
    transition: 1s;
    background-color: #452d55;
}

.col-home:hover{
    background-color: #452d55;
    opacity: 0.5;
}

.col{
    max-width: 25%;
    min-width: 25%;
    word-break: break-word;
    padding: 10px;
}

.head-grid{
    background-color: #452d55;
    color: #0fd1bf;
}

.botao{
    background-color: #452d55;
    width: 20%;
    height: 50px;
    transition: 1s;
    text-align: center;
}

.botao:hover{
    background-color: #452d55;
    opacity: 0.5;
}



.listQuotes{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.botao-home:hover{
    background-color: #0fd1bf;
}

.botao-home{
    background-color: #452d55;
    width: 50%;
    height: 25%;
    transition: 1s;
    text-align: center;
}